* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: 'Cabin', sans-serif;
    background: #373D40;
}

a {text-decoration: none;}
a:hover {text-decoration: underline;}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.photo {
    float: left;
    width: 100%;
}

.photo img {
    width: 100%;
    height: 100vh;
    min-height: 320px;
    min-width: 320px;
    background: url('../img/refugee-1.jpg');
    background-size: cover;
    background-position: center;
}

.hashtag {
    position: absolute;
    bottom: 0px;
    text-transform: uppercase;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    width: calc(100% - 350px);
    text-align: center;
}

.hashtag span {
    color: #f2c610;
}

.pagination {
    position: absolute;
    width: calc(100% - 350px);
    opacity: 0;
    transition: opacity .3s ease;
}

.prev, .next {
    position: absolute;
    bottom: 40px;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    padding: 10px 15px;
}

.prev {
    left: 40px
}

.photo:hover .pagination {
    opacity: 1;
}

.next {
    right: 40px;
}


.info {
    float: left;
    width: 100%;
    height: 100vh;
    background: #373D40;
    padding-top: 60px;
}

.quote {
    width: 390px;
    height: auto;
    color: #fff;
    background: #24282B;
    padding: 65px 45px 45px;
    margin-left: -40px;
    border-left: 5px solid #f2c610;
}

.quote quote {
    font-size: 40px;
    font-weight: 400;
}

.quote quote:before {
    content: open-quote;
    font-size: 80px;
    position: absolute;
    margin-top: -56px;
    margin-left: -19px;
}

.quote .refugee {
    text-transform: uppercase;
    font-size: 18px;
    margin: 40px 0 0 0;
    text-align: right;
    color: #eaeaea;
}


.social {
    height: 48px;
    background: #607B7F;
}

.social i.fa {
    font-size: 32px;
    color: #E2E2E2;
}

.social .facebook,
.social .twitter,
.social .instagram{
    float: left;
    text-align: center;
    width: 33.2%;
    display: inline-block;
    padding: 8px 0;
}

.social .facebook,
.social .twitter {
    border-right: 1px solid #999;
}

.social .facebook:hover,
.social .twitter:hover,
.social .instagram:hover {
    background: #4b6164;
}

.donate {
    text-align: center;
    margin: 80px 0 0;
}

.donate h2 {
    margin: 0 0 5px;
    font-size: 22px;
    text-transform: uppercase;
    color: #E2E2E2;
    font-weight: 400;
}

.donate button {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    border: none;
    background: none;
    color: #f2c610;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
}

.donate a {
    display: block;
    margin: 15px 0;
    font-size: 13px;
    color: #777777;
}

.donate a:hover {
    color: #f2c610;
}


.photo-credit {
    margin: 0 40px 30px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #777777;
    text-transform: uppercase;
    font-size: 12px;
}


@media screen and (min-width: 580px) {

    .photo {
        width: calc(100% - 350px);
    }

    .photo img {

    }

    .info {
        float: right;
        width: 350px;
    }

}
